
{% extends "::default/layout.html.twig" %}

{% block container %} {{fruta.manzana}} - {{fruta.platano}}

{{productos[1].producto}}


 {% endblock %}


{# COMENTARIO DE CODIGO EN TWIG#}

{% block body %}
{{ parent() }}
<p>
{% set variable="variable creada en twig" %}
{{variable}}
</p>

{% if productos|length > 0 %}

<ul>
{% for i in productos %}

	<li>{{i.producto}} - {{i.precio}}</li>

{% endfor %}
</ul>

{% endif %}

<hr/>



{{ "now"|date("m/d/Y") }} {# DA LA FECHA ACTUAL#}

 

<hr/>

{{include('AppBundle:Prueba:partial.html.twig')}}
{{ max([76,99,67]) }} {# SACA EL NUMERO MAXIMO DE UN ARRAY QUE LE PASES#}


{% endblock %}