
{% extends "::default/layout.html.twig" %}

{% block container %} {{fruta.manzana}} - {{fruta.platano}}

{{productos[1].producto}}


 {% endblock %}

 <h3>hola que tal</h3>
{# COMENTARIO DE CODIGO EN TWIG PROBANDO REPOSITORIO REMOTO#}

{% block body %}
{{ parent() }}
<p>
{% set variable="variable creada en twig" %}
{{variable}}
</p>

{% if productos|length > 0 %}

<ul>
{% for i in productos %}

	<li>{{i.producto}} - {{i.precio}}</li>

{% endfor %}
</ul>

{% endif %}

<hr/>



{{ "now"|date("m/d/Y") }} {# DA LA FECHA ACTUAL #}

 

<hr/>

{{include('AppBundle:Prueba:partial.html.twig')}}
{{ max([76,99,67]) }} {# SACA EL NUMERO MAXIMO DE UN ARRAY QUE LE PASES #}
<hr/>
{{ min([76,99,67]) }} {# SACA EL NUMERO MINIMO DE UN ARRAY QUE LE PASES #}
<hr/>
{{ random(1000) }} {# numero aleatorio del 0 al 1000 #}
<hr/>
{{ random(["batman","spiderman","superman"])}} {# saca un nombre aleatorio de ese array#}

</hr>

{% for i in range(0,20,5)%} {#con dos parametros me muestra del 0 al 20 si le añado un tercer parametro los multiplos#}

<br>{{i}}

{% endfor %}


{% endblock %}
